{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Web NETDIAG tool</title>
{% endblock %}

{% block content %}
      
        <style>
        .li { 
           width: 10%;
        {
        </style>
	<div class="container">
           <p class="h2">Welcome to NETDIAG tool</p>
	   <form method="POST" class="form-inline" action="/">
             <div class="form-group">
	        {{ form.csrf_token }}
                {{ wtf.form_field(form.router) }}
		{{ wtf.form_field(form.interface) }}
	     </div>
	     <button type="submit" class="btn btn-primary btn-sm">Launch diagnostics</button>
	   </form>
       	   <div width="40%">
           {% if result %}
              <div class="container">
	      <table class="table table-striped">
              <thead>
                 <tr>
                   <th scope="col">Check</th>
                   <th scope="col">Status</th>
                 </tr>
              </thead>
             <tbody>
              <tr>
		<td>Admin enabled</td>
                <td>{{ result['phy_iface']['is_enabled'] }}</td>
              </tr>
              <tr>
                <td>Is up?</td>
                <td>{{ result['phy_iface']['is_up'] }}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ result['phy_iface']['description'] }}</td>
              </tr>
              <tr> 
                <td>Speed</td>
                <td>{{ result['phy_iface']['speed'] }}</td>
              </tr>
             {% for k, v in result['ip_iface']['ipv4'].items() %}
		<tr>
                   <td>IPv4 address</td>
                   <td>{{ k }}/{{ v['prefix_length'] }}</td>
                </tr>
	     {% endfor %}
              </tbody>
              </table>
              </div>
           {% endif %}
           </div>
	</div>	
{% endblock %}
{% block scripts %}
   {{ super() }}
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}
